body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  text-decoration:underline;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:17px;
  color:#030303;
}
#u4_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:322px;
  height:66px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:519px;
  width:320px;
  height:49px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:100px;
  top:529px;
  width:24px;
  height:25px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u8_img.selected {
}
#u8.selected {
}
#u8_img.mouseDown {
}
#u8.mouseDown {
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:190px;
  top:533px;
  width:30px;
  height:21px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u10_img.selected {
}
#u10.selected {
}
#u10_img.mouseDown {
}
#u10.mouseDown {
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:530px;
  width:24px;
  height:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12_img.selected {
}
#u12.selected {
}
#u12_img.mouseDown {
}
#u12.mouseDown {
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:286px;
  top:530px;
  width:24px;
  height:24px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14_img.selected {
}
#u14.selected {
}
#u14_img.mouseDown {
}
#u14.mouseDown {
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:519px;
  width:320px;
  height:1px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:12px;
  top:556px;
  width:20px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#929292;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u18_img.selected {
}
#u18.selected {
}
#u19 {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:102px;
  top:556px;
  width:20px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#929292;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u21 {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:190px;
  top:556px;
  width:30px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#49AFCA;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:12px;
}
#u23 {
  position:absolute;
  left:0px;
  top:-1px;
  width:30px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:288px;
  top:556px;
  width:20px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#929292;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u25 {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:11px;
  top:33px;
  width:12px;
  height:21px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:7px;
  top:3px;
  width:308px;
  height:15px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:15px;
}
#u31 {
  position:absolute;
  left:2px;
  top:0px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:60px;
  top:30px;
  width:200px;
  height:24px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:17px;
  color:#030303;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:65px;
  width:320px;
  height:454px;
  overflow:hidden;
}
#u34_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:454px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:25px;
  top:770px;
  width:75px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:20px;
  top:14px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:20px;
  top:211px;
  width:75px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:207px;
  top:14px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#49AFCA;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:290px;
  top:16px;
  width:10px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u44 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:25px;
  top:561px;
  width:75px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:125px;
  top:561px;
  width:75px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:225px;
  top:561px;
  width:75px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:225px;
  top:451px;
  width:75px;
  height:100px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u52 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:122px;
  top:451px;
  width:75px;
  height:100px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u54 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:25px;
  top:451px;
  width:75px;
  height:100px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u56 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:25px;
  top:660px;
  width:75px;
  height:100px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u58 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:122px;
  top:360px;
  width:75px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:20px;
  top:360px;
  width:75px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:20px;
  top:152px;
  width:75px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:122px;
  top:250px;
  width:75px;
  height:100px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u66 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:20px;
  top:250px;
  width:75px;
  height:100px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u68 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:20px;
  top:42px;
  width:75px;
  height:100px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u70 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:20px;
  top:322px;
  width:75px;
  height:28px;
  opacity:0.75;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:28px;
}
#u72 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:20px;
  top:329px;
  width:75px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:20px;
  top:420px;
  width:75px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:25px;
  top:630px;
  width:105px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u34_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:454px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u34_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79 {
  position:absolute;
  left:19px;
  top:14px;
  width:81px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:207px;
  top:14px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#49AFCA;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:290px;
  top:16px;
  width:10px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u84 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:20px;
  top:155px;
  width:75px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:20px;
  top:420px;
  width:75px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:25px;
  top:361px;
  width:75px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:125px;
  top:361px;
  width:75px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:225px;
  top:361px;
  width:75px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:225px;
  top:251px;
  width:75px;
  height:100px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u96 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:122px;
  top:251px;
  width:75px;
  height:100px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u98 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:25px;
  top:251px;
  width:75px;
  height:100px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u100 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:20px;
  top:45px;
  width:75px;
  height:100px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u102 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:122px;
  top:561px;
  width:75px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:20px;
  top:561px;
  width:75px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:25px;
  top:760px;
  width:75px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:45px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:122px;
  top:451px;
  width:75px;
  height:100px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u110 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:20px;
  top:451px;
  width:75px;
  height:100px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u112 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:25px;
  top:650px;
  width:75px;
  height:100px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u114 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:20px;
  top:523px;
  width:75px;
  height:28px;
  opacity:0.75;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:28px;
}
#u116 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:20px;
  top:530px;
  width:75px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:20px;
  top:220px;
  width:75px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:20px;
  top:620px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
