body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  text-decoration:underline;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:226px;
  top:75px;
  width:44px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:11px;
  top:33px;
  width:12px;
  height:21px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:17px;
  color:#030303;
}
#u9_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:322px;
  height:66px;
}
#u10 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:519px;
  width:320px;
  height:49px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u12 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:100px;
  top:529px;
  width:24px;
  height:25px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u13_img.selected {
}
#u13.selected {
}
#u13_img.mouseDown {
}
#u13.mouseDown {
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:190px;
  top:533px;
  width:30px;
  height:21px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u15_img.selected {
}
#u15.selected {
}
#u15_img.mouseDown {
}
#u15.mouseDown {
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:10px;
  top:530px;
  width:24px;
  height:24px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u17_img.selected {
}
#u17.selected {
}
#u17_img.mouseDown {
}
#u17.mouseDown {
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:286px;
  top:530px;
  width:24px;
  height:24px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19_img.selected {
}
#u19.selected {
}
#u19_img.mouseDown {
}
#u19.mouseDown {
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:519px;
  width:320px;
  height:1px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:12px;
  top:556px;
  width:20px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#929292;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u23_img.selected {
}
#u23.selected {
}
#u24 {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:102px;
  top:556px;
  width:20px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#929292;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u26 {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:190px;
  top:556px;
  width:30px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#929292;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:12px;
}
#u28 {
  position:absolute;
  left:0px;
  top:-1px;
  width:30px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:288px;
  top:556px;
  width:20px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#49AFCA;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u30 {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:7px;
  top:3px;
  width:308px;
  height:15px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:15px;
}
#u33 {
  position:absolute;
  left:2px;
  top:0px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:60px;
  top:30px;
  width:200px;
  height:24px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:17px;
  color:#030303;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:10px;
  top:102px;
  width:300px;
  height:80px;
}
#u36_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:304px;
  height:84px;
}
#u37 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:10px;
  top:202px;
  width:300px;
  height:80px;
}
#u38_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:304px;
  height:84px;
}
#u39 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:10px;
  top:302px;
  width:300px;
  height:80px;
}
#u40_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:304px;
  height:84px;
}
#u41 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:10px;
  top:402px;
  width:300px;
  height:80px;
}
#u42_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:304px;
  height:84px;
}
#u43 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:104px;
  top:136px;
  width:116px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#49AFCA;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:104px;
  top:236px;
  width:96px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#49AFCA;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:104px;
  top:326px;
  width:96px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8E8E93;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:104px;
  top:426px;
  width:96px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8E8E93;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:230px;
  top:136px;
  width:77px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#49AFCA;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:230px;
  top:236px;
  width:77px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#49AFCA;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:230px;
  top:326px;
  width:77px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8E8E93;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:230px;
  top:426px;
  width:77px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8E8E93;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:11px;
  top:33px;
  width:12px;
  height:21px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:229px;
  top:345px;
  width:77px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8E8E93;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:229px;
  top:446px;
  width:77px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8E8E93;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:278px;
  top:75px;
  width:16px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u68 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
