body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  text-decoration:underline;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:17px;
  color:#030303;
}
#u4_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:322px;
  height:66px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:519px;
  width:320px;
  height:49px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:100px;
  top:529px;
  width:24px;
  height:25px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u8_img.selected {
}
#u8.selected {
}
#u8_img.mouseDown {
}
#u8.mouseDown {
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:190px;
  top:533px;
  width:30px;
  height:21px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u10_img.selected {
}
#u10.selected {
}
#u10_img.mouseDown {
}
#u10.mouseDown {
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:530px;
  width:24px;
  height:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12_img.selected {
}
#u12.selected {
}
#u12_img.mouseDown {
}
#u12.mouseDown {
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:286px;
  top:530px;
  width:24px;
  height:24px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14_img.selected {
}
#u14.selected {
}
#u14_img.mouseDown {
}
#u14.mouseDown {
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:519px;
  width:320px;
  height:1px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:12px;
  top:556px;
  width:20px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#929292;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u18_img.selected {
}
#u18.selected {
}
#u19 {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:102px;
  top:556px;
  width:20px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#929292;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u21 {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:190px;
  top:556px;
  width:30px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#49AFCA;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:12px;
}
#u23 {
  position:absolute;
  left:0px;
  top:-1px;
  width:30px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:288px;
  top:556px;
  width:20px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#929292;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u25 {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:7px;
  top:3px;
  width:308px;
  height:15px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:15px;
}
#u28 {
  position:absolute;
  left:2px;
  top:0px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:60px;
  top:30px;
  width:200px;
  height:24px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:17px;
  color:#030303;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:11px;
  top:33px;
  width:12px;
  height:21px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:65px;
  width:320px;
  height:456px;
  overflow:hidden;
}
#u34_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:456px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
}
#u36 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:83px;
  top:250px;
  width:225px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:20px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:13px;
  top:250px;
  width:48px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:13px;
  top:485px;
  width:45px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:79px;
  top:497px;
  width:220px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u44 {
  position:absolute;
  left:90px;
  top:690px;
  width:220px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:65px;
  top:240px;
  width:10px;
  height:480px;
}
#u46_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u46_end {
  position:absolute;
  left:-5px;
  top:463px;
  width:20px;
  height:18px;
}
#u46_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:480px;
}
#u47 {
  position:absolute;
  left:65px;
  top:253px;
  width:9px;
  height:9px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:66px;
  top:488px;
  width:9px;
  height:9px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:480px;
  top:69px;
  width:77px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:30px;
  top:20px;
  width:68px;
  height:68px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u54 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:85px;
  top:479px;
  width:225px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:20px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:115px;
  top:629px;
  width:93px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:127px;
  top:519px;
  width:75px;
  height:100px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:100px;
}
#u60 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:125px;
  top:390px;
  width:75px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:51px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:125px;
  top:280px;
  width:75px;
  height:100px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u64 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:278px;
  top:434px;
  width:22px;
  height:23px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u66 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:246px;
  top:432px;
  width:22px;
  height:22px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u68 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:278px;
  top:667px;
  width:22px;
  height:23px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u70 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:246px;
  top:665px;
  width:22px;
  height:22px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u72 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:118px;
  top:20px;
  width:82px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:140px;
  top:93px;
  width:58px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:222px;
  top:93px;
  width:60px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u78 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:144px;
  top:120px;
  width:60px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:123px;
  top:51px;
  width:140px;
  height:17px;
  font-size:12px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:17px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:214px;
  top:95px;
  width:20px;
  height:15px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u84 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:239px;
  top:120px;
  width:60px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:124px;
  top:93px;
  width:12px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u88 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:123px;
  top:117px;
  width:16px;
  height:17px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u90 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:214px;
  top:120px;
  width:18px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u92 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:122px;
  top:113px;
  width:77px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u94 {
  position:absolute;
  left:209px;
  top:114px;
  width:90px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u95 {
  position:absolute;
  left:210px;
  top:92px;
  width:90px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
