body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  text-decoration:underline;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:17px;
  color:#030303;
}
#u4_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:322px;
  height:66px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:519px;
  width:320px;
  height:49px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:100px;
  top:529px;
  width:24px;
  height:25px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u8_img.selected {
}
#u8.selected {
}
#u8_img.mouseDown {
}
#u8.mouseDown {
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:190px;
  top:533px;
  width:30px;
  height:21px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u10_img.selected {
}
#u10.selected {
}
#u10_img.mouseDown {
}
#u10.mouseDown {
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:530px;
  width:24px;
  height:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12_img.selected {
}
#u12.selected {
}
#u12_img.mouseDown {
}
#u12.mouseDown {
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:286px;
  top:530px;
  width:24px;
  height:24px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14_img.selected {
}
#u14.selected {
}
#u14_img.mouseDown {
}
#u14.mouseDown {
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:519px;
  width:320px;
  height:1px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:12px;
  top:556px;
  width:20px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#929292;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u18_img.selected {
}
#u18.selected {
}
#u19 {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:102px;
  top:556px;
  width:20px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#929292;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u21 {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:190px;
  top:556px;
  width:30px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#49AFCA;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:12px;
}
#u23 {
  position:absolute;
  left:0px;
  top:-1px;
  width:30px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:288px;
  top:556px;
  width:20px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#929292;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u25 {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:11px;
  top:33px;
  width:12px;
  height:21px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:7px;
  top:3px;
  width:308px;
  height:15px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:15px;
}
#u31 {
  position:absolute;
  left:2px;
  top:0px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:60px;
  top:30px;
  width:200px;
  height:24px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:17px;
  color:#030303;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:65px;
  width:320px;
  height:455px;
  overflow:hidden;
}
#u34_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:455px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:25px;
  top:183px;
  width:120px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:50px;
  top:120px;
  width:75px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:51px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:50px;
  top:10px;
  width:75px;
  height:100px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u40 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:173px;
  top:183px;
  width:120px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:17px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:195px;
  top:120px;
  width:75px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:51px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:195px;
  top:10px;
  width:75px;
  height:100px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u46 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:455px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u34_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:130px;
  top:60px;
  width:60px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u48 {
  position:absolute;
  left:150px;
  top:39px;
  width:20px;
  height:21px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#666666;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:220px;
  top:120px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:130px;
  top:242px;
  width:60px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u53 {
  position:absolute;
  left:150px;
  top:221px;
  width:20px;
  height:21px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#666666;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:22px;
  top:302px;
  width:90px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:30px;
  top:192px;
  width:75px;
  height:100px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u58 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:22px;
  top:120px;
  width:90px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:30px;
  top:10px;
  width:75px;
  height:100px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u62 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:30px;
  top:479px;
  width:75px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:30px;
  top:369px;
  width:75px;
  height:100px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:104px;
}
#u66 {
  position:absolute;
  left:2px;
  top:42px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:220px;
  top:35px;
  width:60px;
  height:60px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u68 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:220px;
  top:217px;
  width:60px;
  height:60px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u70 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:220px;
  top:310px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:130px;
  top:420px;
  width:60px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u74 {
  position:absolute;
  left:150px;
  top:399px;
  width:20px;
  height:21px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:#666666;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:220px;
  top:480px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:220px;
  top:395px;
  width:60px;
  height:60px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u79 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
