body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  text-decoration:underline;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:17px;
  color:#030303;
}
#u4_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:322px;
  height:66px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:519px;
  width:320px;
  height:49px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:100px;
  top:529px;
  width:24px;
  height:25px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u8_img.selected {
}
#u8.selected {
}
#u8_img.mouseDown {
}
#u8.mouseDown {
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:190px;
  top:533px;
  width:30px;
  height:21px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u10_img.selected {
}
#u10.selected {
}
#u10_img.mouseDown {
}
#u10.mouseDown {
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:530px;
  width:24px;
  height:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12_img.selected {
}
#u12.selected {
}
#u12_img.mouseDown {
}
#u12.mouseDown {
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:286px;
  top:530px;
  width:24px;
  height:24px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14_img.selected {
}
#u14.selected {
}
#u14_img.mouseDown {
}
#u14.mouseDown {
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:519px;
  width:320px;
  height:1px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:12px;
  top:556px;
  width:20px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#929292;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u18_img.selected {
}
#u18.selected {
}
#u19 {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:102px;
  top:556px;
  width:20px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#929292;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u21 {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:190px;
  top:556px;
  width:30px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#929292;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:12px;
}
#u23 {
  position:absolute;
  left:0px;
  top:-1px;
  width:30px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:288px;
  top:556px;
  width:20px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#49AFCA;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u25 {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:7px;
  top:3px;
  width:308px;
  height:15px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:15px;
}
#u28 {
  position:absolute;
  left:2px;
  top:0px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:154px;
  width:320px;
  height:40px;
  font-family:'PingFangSC-Light', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:193px;
  width:320px;
  height:40px;
  font-family:'PingFangSC-Light', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:262px;
  width:320px;
  height:40px;
  font-family:'PingFangSC-Light', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:370px;
  width:320px;
  height:40px;
  font-family:'PingFangSC-Light', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FD472B;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:301px;
  width:320px;
  height:40px;
  font-family:'PingFangSC-Light', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:84px;
  width:320px;
  height:40px;
  font-family:'PingFangSC-Light', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:60px;
  top:30px;
  width:200px;
  height:24px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:17px;
  color:#030303;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:239px;
  top:83px;
  width:57px;
  height:43px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:43px;
}
#u44 {
  position:absolute;
  left:2px;
  top:14px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:11px;
  top:33px;
  width:12px;
  height:21px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:10px;
  top:188px;
  width:310px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u49 {
  position:absolute;
  left:0px;
  top:78px;
  width:320px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u50 {
  position:absolute;
  left:0px;
  top:118px;
  width:320px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u51 {
  position:absolute;
  left:1px;
  top:148px;
  width:320px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u52 {
  position:absolute;
  left:0px;
  top:227px;
  width:320px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u53 {
  position:absolute;
  left:0px;
  top:257px;
  width:320px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u54 {
  position:absolute;
  left:10px;
  top:296px;
  width:310px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u55 {
  position:absolute;
  left:0px;
  top:335px;
  width:320px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u56 {
  position:absolute;
  left:0px;
  top:365px;
  width:320px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:404px;
  width:320px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
